.main {
    width: 100%;
    margin: 0;
    padding: 0;
}
.body {
    min-width: 1280px;
    width: 1280px;
    position: relative;
    height: auto;
    margin: 0 auto;
}
.center {
    text-align: center;
}
.table {
    position: relative;
    text-align: center;
    width: 100%;
}
.info {
    background: aliceblue;
    border: 1px solid black;
}
.student {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 20px;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
    z-index: 1;
}
.item {
    position: relative;
    display: inline-block;
    width: 10.6%;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
    background: lightgray
}
.item:hover {
    background: darkgrey;
}
.labframe {
    vertical-align: top;
    display: block;
    width: 100%;
    height: 800px;
}