table {
    border: 1px solid rgb(188, 233, 245);
    margin: auto;
} td {
      text-align: center;
}
.fig {
    text-align: center;
}
.frame {
    vertical-align: top;
    display:inline-block;
    width: 950px;
    height: 480px;
}
.content {
    position: relative;
    text-align: center;
    width: 1280px;
    margin: 0 auto;
}
.divbuttons {
    vertical-align: top;
    display:inline-block;
    width: 320px;
    height: 480px;
}
.divbutton {
    text-align: center;
    width: 320px;
    height: 120px;
}
.onebutton {
    width: 300px;
    height: 100px;
}
